@import "./reset.css";
@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto&display=swap');

body{
    background-color: var(--color_two);
}

/*style to text TRIVIAPP*/
h1 {
    color: var(--color_three);
    font-family: var(--font_family_one);
    font-size: 5vw;
    text-align: center;
    margin: 5px;
}

/*style to input section*/

.form_container_one, .form_container_two, .form_container_three, .form_container_four{
    color: var(--color_three);
    display: flex;
    font-size: 3vw;
    align-items: center;
    flex-direction: column;
    font-family:var(--font_family_two);
    margin: 15px 0px 0px 15px;
}

.form_container_one select,
.form_container_two select, 
.form_container_three select, 
.form_container_four select {
    color: var(--color_two);
    background-color: var(--color_three);
    border:none;
    border-radius: 10px;
    font-size: 3vw;
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    text-align-last: center;
}


.form_container_four input{
    color: var(--color_three);
    background-color: var(--color_two);
    border: 2px solid var(--color_three) ;
    border-radius: 5px;
    font-size: 3vw;
    margin-top: 30px;
    padding: 3px 20px 3px 20px;
    text-align-last: center;
}

/*styles to card question*/

.card_question{
    background-color: var(--color_two);
    color:var(--color_three);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 1; 
}

.card_question h2, h3, h4{
    font-family: var( --font_family_one);
    font-size: 3vw;
    text-align: center;
}

.card_question span {
    font-family: var( --font_family_two);
    font-size: 2vw;
}

.data_container_answer_one p,
.data_container_answer_two p{
    padding: 10px;
}

.question_one{
    display: flex;
    justify-content: space-around;
    font-family: var( --font_family_two);
    font-size: 2vw;
    margin: 20px;
    width: 50%;
}


.question_two{
    display: flex;
    justify-content: space-around;
    font-family: var( --font_family_two);
    font-size: 2vw;
    margin: 20px;
    width: 30%;
}

.card_final_score{
    background-color: var(--color_two);
    height: 100%;
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 1; 
    overflow-x: hidden;
    transition: .3s; 
}

.next{
    color: var(--color_three);
    background-color: var(--color_two);
    border: 2px solid var(--color_three) ;
    border-radius: 5px;
    font-size: 3vw;
    margin-top: 30px;
    padding: 3px 20px 3px 20px;
    text-align-last: center;
}

.card_final_score{
    background-color: var(--color_two);
    color:var(--color_three);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var( --font_family_one);
    font-size: 5vw;
    text-align: center;
    height: 100%;
    width: 100%;   
}

.card_final_score div {
    padding-top: 100px;
}

.card_final_score a {
    color: var( --color_four);
}
/*responsive*/

@media screen and (max-width: 600px){
    /*responsive to input section*/
    h1 {
        font-size: 10vw;
    }
    
    .form_container_one, 
    .form_container_two, 
    .form_container_three, 
    .form_container_four,
    .form_container_one select,
    .form_container_two select, 
    .form_container_three select, 
    .form_container_four select, 
    .form_container_four input
    {
        font-size: 5vw;
    }

    /*responsive to questions section*/

    .card_question h2, h3, h4{
        font-size: 5vw;
    }

    .card_question span {
        
        font-size: 3vw;
    }

    .question_one{
        font-size: 3vw;
    }

    .question_two{
        font-size: 3vw;
    }

}

@media screen and (max-width: 420px){
    /*responsive to input section*/
    h1 {
        font-size: 16vw;
    }
    
    .form_container_one, 
    .form_container_two, 
    .form_container_three, 
    .form_container_four,
    .form_container_one select,
    .form_container_two select, 
    .form_container_three select, 
    .form_container_four select, 
    .form_container_four input
    {
        font-size: 8vw;
    }

     /*responsive to questions section*/

    .card_question h2, h3, h4{
        font-size: 6vw;
    }

    .card_question span {
        
        font-size: 4vw;
    }

    .question_one{
        font-size: 4vw;
        width: 80%;
    }

    .question_two{
        font-size: 4vw;
        
    }

    /*responsive final view*/
    .card_final_score{
        font-size: 7vw;     
    }

}