:root{
    --color_one:#17202A ;
    --color_two:#202020;
    --color_three:#ffff;
    --color_four:#008CBA;
    --font_family_one:'Rampart One', cursive;
    --font_family_two:'Roboto', sans-serif;
}